# OS
.DS_Store
ios/
android/
.expo/
# Environment
.env
*.env.local

# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Build outputs
dist/
!api/dist/  # Allow api/dist/ to be committed (pre-built for production)
build/
.next/

# Logs
_logs/
*.log

# IDE
.vscode/

# Documents
mobile/docs/google-credentials
api/dist/.env
