.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
  background-color: var(--background-color);
}

.divMainSub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 400px;
}

.title {
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 1rem;
  margin: 0;
}

.inputPassword {
  border-radius: 12px;
  font-size: large;
  width: 100%;
  padding: 1rem;
  /* margin-bottom: 1rem; */
}

.eyeIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.btnReset {
  border-radius: 12px;
  font-size: large;
  padding: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .divMainSub {
    max-width: 600px;
  }
  .title {
    font-size: 3rem;
  }
  .btnReset {
    width: 50%;
  }
}
