body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  /* --dark-color: #000000;
  --background-color-old: #34385a;
  --background-color: rgba(200, 200, 200, 1);
  --med-text-color: #888787;
  --light-text-color: #ffffff;
  --highlight-red: #8b0419;
  --highlight-green: #4ad22b;
  --highlight-yellow: #fa9f15;
  --header-height: 9rem; */

  --off-white: #ebebeb;
  --gray-light: #d9d9d9;
  --gray-medium: #979797;
  --blue-dark: #283a59;
  --green-approved-article: #02a031;
  --soft-red: #da6b3b;
  --bg-login-left: #d9d9d9;
  --bg-navbar-top: #283a59;
  --bg-input-off-white: #dddddd;
  --highlight-red: #8b0419;

  /* Added 2025-05-31 : KV 16 refactor*/
  --input-border-radius: 0.5rem;
  --input-padding: 0.25rem;
  --input-background-color: var(--gray-medium);
  --input-color: black;

  --width-side-menu: 15rem;
  --height-header: 7vh;
  --height-header-large: 11vh;
  --height-content-main: 95vh;
  --height-content-main-large: 90vh;
}
/* header {
  margin: 0;
  padding: 0;
  background-color: #4ad22b;
  height: 0;
} */
.tdWrapAllGlobal {
  word-wrap: break-word; /* Ensure long words or URLs wrap */
  overflow-wrap: break-word; /* Ensure wrapping in modern browsers */
  word-break: break-all; /* Break words at arbitrary points for extremely long text */
  hyphens: auto; /* Adds hyphenation when possible */
}

/* Added 2025-05-31 : KV 16 refactor*/

.inputError {
  outline: 2px solid red;
}
.btnOpaque {
  background-color: gray;
  opacity: 0.7;
}
.btnRed {
  background-color: var(--soft-red);
}
.btnRed:hover {
  background-color: darkred;
}
.tooltipWrapper {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltipText {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipWrapper:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
